# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Database
*.db
*.sqlite3

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Chrome driver
chromedriver
chromedriver.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log